[Unit]
Description=qt iperf daemon service
After=network.target
Wants=network.target

[Service]
Type=notify
;Type=simple
ExecStart=/opt/qiperfd/bin/qiperfd
Restart=always
RestartSec=3s

[Install]
WantedBy=multi-user.target
