[Unit]
Description=quick iperf daemon service
After=network.target
Wants=network.target

[Service]
;Type=notify ; require service sends a "READY=1" notification message via sd_notify(3)
Type=simple
ExecStart=/opt/qiperf/bin/qiperfd
Restart=always
RestartSec=3s

[Install]
WantedBy=multi-user.target
