[Unit]
Description=qt iperf daemon service
After=network.target
Wants=network.target

[Service]
Type=notify
ExecStart=/opt/qiperfd/bin/qiperfd

[Install]
WantedBy=multi-user.target
