[submodule "libmaia"]
	path = libmaia
	url = https://github.com/wiedi/libmaia.git
[submodule "QCtrlSignals"]
	path = QCtrlSignals
	url = https://github.com/coolshou/QCtrlSignals.git
[submodule "qiperfd/lib/QUSB"]
	path = qiperfd/lib/QUSB
	url = https://github.com/coolshou/QUSB.git
[submodule "lib/qntp"]
	path = lib/qntp
	url = https://github.com/coolshou/qntp.git
[submodule "qiperfc/lib/QXlsx"]
	path = qiperfc/lib/QXlsx
	url = https://github.com/coolshou/QXlsx.git
[submodule "lib/qssh"]
	path = lib/qssh
	url = https://github.com/coolshou/qssh.git
[submodule "lib/geographiclib"]
	path = lib/geographiclib
	#url = https://github.com/geographiclib/geographiclib.git
	url = https://github.com/coolshou/geographiclib
[submodule "lib/qgeoview"]
	path = lib/qgeoview
	url = https://github.com/coolshou/QGeoView.git
