#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Exec=/opt/qiperf/bin/qiperfc
Name=quick Iperf Console
GenericName=quick Iperf Console
Comment=Tool to manager quick Iperf daemon
Icon=qiperfc
Terminal=false
Categories=Network;Qt;
StartupNotify=true
StartupWMClass=qiperfc
