#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Exec=/opt/qiperf/bin/qiperftray
Name=quick Iperf system tray
GenericName=quick Iperf system tray
Comment=Tool to monitor quick Iperf daemon
Icon=qiperftray
Terminal=false
Categories=Network;Qt;
StartupNotify=true
StartupWMClass=qiperftray
