Source: qiperf
Section: network
Priority: optional
Maintainer: coolshou <coolshou2060@gmail.com>
Build-Depends: debhelper-compat (= 13), qtbase5-dev, make, qt5-qmake, libsystemd-dev, libqt5websockets5-dev
Standards-Version: 4.6.0
Homepage: https://github.com/coolshou/qiperf.git
#Vcs-Browser: https://salsa.debian.org/debian/qiperf
#Vcs-Git: https://github.com/coolshou/qiperf.git
Rules-Requires-Root: no

Package: qiperfd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: qt base daemon to launch iperf2/3 
 qt base app to lunch iperf2/3 in server mode
 iperf2
 iperf3

Package: qiperftray
Architecture: any
Depends: qiperfd, ${shlibs:Depends}, ${misc:Depends}
Description: qt base systray to monitor qiperfd
 qt base systray to monitor qiperfd

Package: qiperfc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: qt base quick iperf console
 quick iperf console GUI to control qiperfd
