#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

DEB_BUILD_OPTIONS=noddebs

#include /usr/share/cdbs/1/rules/debhelper.mk
# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

VERSION_QIPERF := $(shell sed -n -e "s/^#define QIPERF_VERSION //p" src/versions.h)
VERSION_QIPERFD := $(shell sed -n -e "s/^#define QIPERFD_VERSION //p" src/versions.h)
VERSION_QIPERFC := $(shell sed -n -e "s/^#define QIPERFC_VERSION //p" src/versions.h)
VERSION_QIPERFTRAY := $(shell sed -n -e "s/^#define QIPERFTRAY_VERSION //p" src/versions.h)

%:
	dh $@


# dh_make generated override targets
# This is example for Cmake (See https://bugs.debian.org/641051 )
#override_dh_auto_configure:
#	dh_auto_configure -- \
#	-DCMAKE_LIBRARY_PATH=$(DEB_HOST_MULTIARCH)

#override_dh_genchangelog:
#	debchange -c debian/qiperfc.changelog -v $(VERSION_QIPERFC)
#	dh_genchangelog -- -pqiperfd -v$(VERSION_QIPERFD) -cdebian/qiperfd.changelog 
#	debchange -c debian/qiperftray.changelog -v $(VERSION_QIPERFTRAY)

#override_dh_gencontrol:
#	dh_gencontrol -pqiperfc -- -v$(VERSION_QIPERFC) -cdebian/qiperfc.control
#	dh_gencontrol -- -pqiperfd -v$(VERSION_QIPERFD) -cdebian/qiperfd.changelog -cdebian/qiperfd.control
#	dpkg-gencontrol -pqiperfd -v$(VERSION_QIPERFD) -cdebian/qiperfd.changelog -cdebian/qiperfd.control
#	dh_gencontrol -pqiperftray -- -v$(VERSION_QIPERFTRAY) -cdebian/qiperftray.control

#override_dh_builddeb:
#	dh_builddeb -pqiperfd
#	dh_builddeb -pqiperftray
#	dh_builddeb -pqiperfc
